@import '_mixins';
@import '_styles';
@import '_normalize';


.header {
  margin: 25px 60px;
  display: flex;
  justify-content: space-between;

  .logo {
    img {
      width: 110px;
    }
  }

  .widget {
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
      text-decoration: none;
      color: $PrimaryColor;
      font-family: 'PT Russia Text Medium', sans-serif;
      margin-right: 4px;
    }

    // a:hover {
    //   color: $SecondaryColor;
    // }
  }
}

.header.inMessenger {
  justify-content: flex-end;
}

.basic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.welcomeText {
  display: flex;
  width: 38.75%;
  margin: 0 auto;
  flex-direction: column;

  h2 {
    @include header;
  }

  p {
    margin-top: 40px;
  }

  .actions {
    margin-top: 54px;

    .formButton {
      display: flex;
      justify-content: center;
      align-items: center;
      @include formButton;
      margin: 0;
      transition: 0.3s;
    }

    .formButton:hover {
      background-color: #1B1B22;
    }
  }

  .timer {
    display: flex;
    flex-direction: row;
    align-items: center;

    .identifyEmoji {
      margin-right: 22px;
      width: 79px;
      height: 79px;
      background-color: #FFEAEE;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 48px;
        height: 48px;
      }

    }

    .countdown {
      width: 95px;

      p {
        margin: 0;
      }

      .time {
        font-size: 60px;
        font-weight: 500;
        color: $SecondaryColor;
      }

      .sign {
        font-size: 16px;
        color: rgba(20, 20, 20, 0.6);
      }
    }
  }

}
