// // // Graphical variables
//  @import "config/fonts";
//  @import "config/colors";
//  @import "config/bootstrap_variables";
// //
// // // External libraries
//  @import "bootstrap/scss/bootstrap";
//  @import "font-awesome-sprockets";
//  @import "font-awesome";
// //
// // // Your CSS partials
@import 'components/index';
//  @import "pages/index";

@import '_mixins';
@import '_styles';
@import '_devise';
@import '_home';
@import '_normalize';

body {
  font-family: 'PT Russia Text', sans-serif;
}

.animate-in {
   -webkit-animation: fadeIn .3s ease-in;
   animation: fadeIn .3s ease-in;
}

.animate-out {
   -webkit-transition: opacity .3s;
   transition: opacity .3s;
   opacity: 0;
}

@-webkit-keyframes fadeIn {
   from { opacity: 0; }
   to { opacity: 1; }
}

@keyframes fadeIn {
   from { opacity: 0; }
   to { opacity: 1; }
}
